body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(233, 236, 251);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
h2 {
    color: #4caf50;
    margin-bottom: 30px;
}
input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4caf50;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link-container a {
    color: #4caf50;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 8px;
}

.link-container span {
    color: #555;
    font-size: 14px;
}
