.form-check-input:checked+.form-checked-content {
    opacity: 0.5;
    text-decoration: line-through;
}

.detailItem:hover {
    background-color: var(--bs-secondary-bg);
}

.detailItem:not(.collapsed) {
    background-color: var(--bs-primary-bg-subtle);
}


#detailContents,.updateInput {
    resize: none;
}

.updateInput::-webkit-scrollbar {
    display: none;
}

.updateInput:not(textarea) {
    font-size: 12px;
    text-align: right;
}

.offcanvas {
    --bs-offcanvas-width: 600px;
}

span.d-inline {
    font-size: 12px;
}