.form-check-input:checked+.form-checked-content {
    opacity: 0.5;
    text-decoration: line-through;
}

.detail-item:hover {
    background-color: var(--bs-secondary-bg);
}

.detail-item:not(.collapsed) {
    background-color: var(--bs-primary-bg-subtle);
}