body {
    background-color: #f0f3f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

h2 {
    color: black;
    margin-bottom: 30px;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link-container a {
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 8px;
}

.link-container a:hover {
    text-decoration: underline;
}

.link-container span {
    color: #555;
    font-size: 14px;
}
