body{
    display: flex;
    flex-direction:column;
    align-items: center;
}
html{background-color: #f0f3f6 ;}
button{
    width: 25%;
    color: white;
    font-size: large;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px;
}
img{
    width: 25%;
    height: 25%;
}
button#main{
    margin: 25px;
}
