body{
    justify-content: center;
    background-color: rgb(255, 247, 255);
    margin: 0;
            padding: 0;
            display: flex;
            
}
table{
    border-radius: 3px;
    border-color: rgb(128, 119, 119);
    border-collapse: collapse;
    background-color: white;
    border-left:none;
    border-right:none;
   
}

.info{
    width:250px;
    height: 30px;
    border: 0;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* border-radius: 3px; */
}

#complete{
    width:70px;
    height:40px;
    border-radius: 15px;
    
}

#space1{
    padding: 20px; height: 20px;
}

h1 {color:blueviolet;
    padding:40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }

button {
    margin-left:210px;
    background-color:  white;
    border:none;
    font-size: 20px;
    font-weight: 900;
    color:blueviolet;
    
}
input {
    background-color:  white;
    font-size: 15px;
   
   
}
form{
   padding: 0px;
   width:500px;
   margin-top: 180px;
   background-color: white;
   border-radius: 15px;
}
#quit {
    font-size:small;
    color:gray;
}

