<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Plan 목록</title>
  <style>
    table {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 10px;
    }
  </style>
</head>
<body>
<table class="tb_col">
  <tr>
    <th>id</th>
    <th>제목</th>
    <th>시작 날짜</th>
    <th>마감 날짜</th>
    <th>상세</th>
  </tr>
  <tr th:each="plan : ${plans}">
    <td th:text="${plan.id}"></td>
    <td th:text="${plan.title}"></td>
    <td th:text="${plan.startDate}"></td>
    <td th:text="${plan.endDate}"></td>
    <td><a th:href=@{./details(id=${plan.id})} th:text="상세">상세</a></td>
  </tr>
  <a href="/plan/index.html.html">test</a>
</table>
</body>
</html>
